<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
		<main>
			<% if (products.length > 0) {%>
				<ul>
					<% products.forEach(p => { %>
						<li>
							<p><%= p.prodId.title %> (<%= p.quantity%>)</p>
							<form action="/cart-delete-item" method="POST">
								<input type="hidden" value="<%= p.prodId._id %>" name="prodId">
								<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
								<button class="btn" type="submit">Delete</button>
							</form>
						</li>
					<% }) %>
				</ul>
				<hr>
				<div class="centered">				
					<!-- <form action="/create-order" method="POST">
						<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
						<button class="btn" type="submit">Order Product</button>
					</form> -->
					<a class="btn" href="/checkout">Order Product</a>
				</div>
			<% } else { %>
				<h1>No products in Cart!</h1>
			<% } %>
		</main>
        <%- include('../includes/end.ejs') %>